<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search Engine</title>
    <link rel="stylesheet" href="../css/ProjectTwo.css">
</head>
<body>
    <div class="container">
        <h1><span class="h1-title">Image</span> <span class="h1-span">Search</span> Engine</h1>
        <form id="search-form">
            <input type="text" id="search-box" placeholder="Search anything here...">
            <button>Search</button>
        </form>
        <div id="search-result"></div>
        <button id="show-more-btn">Show More</button>
    </div>

    <script src="../scripts/ProjectTwo.js"></script>
</body>
</html>