<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take ScreenShots With JavaScript - Project One</title>
    <link rel="stylesheet" href="../css/ProjectOne.css">
    <!-- CDN HTML TO CANVAS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Nature With Person</h1>
            <p>Nature's beauty is enhanced when shared with someone special. The serene surroundings foster a deep connection and memorable moments.</p>
            <img src="/images/Nature_Person.webp" alt="Nature Person">
        </div>
        <div id="preview-container"></div>
        <div class="buttons">
            <button id="capture-screenshot">Capture</button>
            <a id="download-screenshot" class="hide">Download</a>
        </div>
    </div>
    <script src="../scripts/ProjectOne.js"></script>
</body>
</html>
