<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StickyNotes - Your Portable Note Organizer</title>
    <link rel="stylesheet" href="../css/ProjectSix.css">
</head>
<body>
    <button id="addBtn">
        <ion-icon name="add"></ion-icon>
        Add Note
    </button>
    <div id="main">
        <!-- <div class="note">
            <div class="tool">
                <ion-icon name="save"></ion-icon>
                <ion-icon name="trash"></ion-icon>
            </div>
            <textarea></textarea>
        </div> -->
    </div>


    <script src="../scripts/ProjectSix.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>